# MedLedger Backend Environment Variables

# Server
# MedLedger Backend
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Pinata IPFS
PINATA_API_KEY=e193457a881765400360
PINATA_SECRET_KEY=cc113ececf3127bdc71b6604c2250b4cc0a2496b3febdd8c0b7f17eec89ef526
PINATA_GATEWAY=https://gateway.pinata.cloud/ipfs

# Blockchain RPC (read-only — for fetching records server-side)
RPC_URL=https://eth-sepolia.g.alchemy.com/v2/jh6xvAe5sSeH8H7JB7a4i